body{

   
   background-color: antiquewhite;
margin: 100px 0px 0px 0px;

/*corriger le margin top pour qu'il se cale automatiquement au centre de 'window' */

}

.box{

   display: grid;
   grid-template-rows: 3fr 1fr;



   background-color: rgb(150, 134, 113);

width: 80%;
height: 100px;
margin: auto;

text-align: center;
color: antiquewhite;

border-radius: 20px;

}

.act1{

width: 80px;
background-color: rgb(68, 68, 68);
border-radius: 10px;

}

.lesbtn{

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   width: 100%;


align-items: center;

}

.time{

   font-size: xx-large;
   background-color: rgb(68, 68, 68);
   border-radius: 20px;
   height: 70%;

}

.centre{


margin-left: auto;
margin-right: auto;

}
